extends layout

block content
	ul#nav
		li
			a(href="/") Home
		li
			a(href="/about-us") About us
	br
	h2 #{title}
	p The current date is: #{date}
	p.
		This is the Sample NodeJS Application  with Jade Template